body {
    background-color: red;
    text-align: center;
}

.loging {
    background-color:black;
    padding: 10px;
    border-radius: 1500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px;
    margin: 0 auto;
    float: none;
    color: white;
}